@{
    ViewBag.Title = "Pagina Inicial";
}
 <meta name="viewport" content="width=device-width" />
<h2>Pagina inicial aqui!</h2>
@Html.ActionLink("Cadastrar Cliente", "CadastrarCliente", "Cliente");
@Html.ActionLink("Home", "Index", "Home")
