@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>Pagina inicial aqui!</h1>
@Html.ActionLink("Cadastrar Cliente", "CadastrarCliente", "Cliente")
@Html.ActionLink("Home", "Index", "Home")
@Html.ActionLink("Listar Cliente", "ListarCliente", "Cliente")