<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Cabeçalho Layout </h1>
    <h1>Cabeçalho do site</h1>
    <div>
        @RenderBody()
    </div>

    <h2>Rodapé do site</h2>
</body>
</html>
